# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Reports (optional)
reports/

# OS
Thumbs.db